                  <div class="row conformance metadata" id="metadata">
                    <div class="metadata-selector col-md-3">
                      <ul class="nav nav-pills nav-stacked metadata">
                        <li class="active"><a data-toggle="tab" href="#conformance-metadata" aria-expanded="false">Conformance Metadata</a></li>
                        <li><a data-toggle="tab" href="#rest-metadata" aria-expanded="false">REST Metadata</a></li>
                        <li><a data-toggle="tab" href="#document-metadata" aria-expanded="false">Document Metadata</a></li>
                        <li><a data-toggle="tab" href="#messaging-metadata" aria-expanded="false">Messaging Metadata</a></li>
                      </ul>
                    </div>
                    <!-- METADATA EXPAND CONTAINER -->
                    <div class="metadata-expand-container col-md-9 tab-content">
                      <!-- CONFORMANCE METADATA  -->
                      <div id="conformance-metadata" class="tab-pane active">
                        <div class="panel-body">
                          <%= render partial: 'conformance_metadata', locals: {title: "NAME", boolean: false, value: @conformance['name'], isMultiple: false} %>
                          <%= render partial: 'conformance_metadata', locals: {title: "IDENTIFIER", boolean: false, value: @conformance['identifier'], isMultiple: false} %>
                          <%= render partial: 'conformance_metadata', locals: {title: "VERSION", boolean: false, value: @conformance['versionNum'], isMultiple: false} %>
                          <%= render partial: 'conformance_metadata', locals: {title: "PUBLISHER INFORMATION", boolean: false, value: @conformance['publisher'], isMultiple: false} %>
                          <%= render partial: 'conformance_metadata', locals: {title: "DESCRIPTION", boolean: false, value: @conformance['description'], isMultiple: false} %>
                          <%= render partial: 'conformance_metadata', locals: {title: "STATUS", boolean: false, value: @conformance['status'], isMultiple: false} %>
                          <%= render partial: 'conformance_metadata', locals: {title: "EXPERIMENTAL", boolean: true, value: @conformance['date'], isMultiple: false} %>
                          <%= render partial: 'conformance_metadata', locals: {title: "DATE", boolean: false, value: @conformance['date'], isMultiple: false} %>
                          <%= render partial: 'conformance_metadata', locals: {title: "SOFTWARE", boolean: false, value: 'unknown', isMultiple: false} %>
                          <%= render partial: 'conformance_metadata', locals: {title: "IMPLEMENTATION", boolean: false, value: 'unknown', isMultiple: false} %>
                          <%= render partial: 'conformance_metadata', locals: {title: "FHIR VERSION", boolean: false, value: @conformance['fhirVersion'], isMultiple: false} %>
                          <%= render partial: 'conformance_metadata', locals: {title: "ACCEPT UNKNOWN", boolean: true, value: @conformance['acceptUnknown'], isMultiple: false} %>
                          
                          <div class="row">
                            <div class="col-md-4">
                              <div><label>FORMATS SUPPORTED:</label></div>
                            </div>
                            <div class="col-md-8">
                              <div>
                                <!---->
                              </div>
                            </div>
                          </div>
                          <div id="ember7725" class="ember-view">
                            <div class="row">
                              <div class="col-md-4">
                                <div><label>ADDITIONAL PROFILES SUPPORTED:</label></div>
                              </div>
                              <div class="col-md-4 word-wrap">
                                --
                              </div>
                              <!---->
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- REST METADATA  -->
                      <div id="rest-metadata" class="tab-pane">
                        <div class="panel-body">
                          <div id="ember7726" class="ember-view">
                            <div class="row">
                              <div class="col-md-4">
                                <div><label>MODE:</label></div>
                              </div>
                              <div class="col-md-4 word-wrap">
                                server
                              </div>
                              <!---->
                            </div>
                          </div>
                          <div id="ember7727" class="ember-view">
                            <div class="row">
                              <div class="col-md-4">
                                <div><label>IDENTIFIER:</label></div>
                              </div>
                              <div class="col-md-4 word-wrap">
                                --
                              </div>
                              <!---->
                            </div>
                          </div>
                          <div id="ember7728" class="ember-view">
                            <div class="row">
                              <div class="col-md-4">
                                <div><label>DOCUMENTATION:</label></div>
                              </div>
                              <div class="col-md-4 word-wrap">
                                All the functionality defined in FHIR
                              </div>
                              <!---->
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- DOCUMENT METADATA  -->
                      <div id="document-metadata" class="tab-pane">
                        <div class="panel-body">
                          <div id="ember7729" class="ember-view">
                            <div class="row">
                              <div class="col-md-4">
                                <div><label>MODE:</label></div>
                              </div>
                              <div class="col-md-4 word-wrap">
                                --
                              </div>
                              <!---->
                            </div>
                          </div>
                          <div id="ember7730" class="ember-view">
                            <div class="row">
                              <div class="col-md-4">
                                <div><label>PROFILE:</label></div>
                              </div>
                              <div class="col-md-4 word-wrap">
                                --
                              </div>
                              <!---->
                            </div>
                          </div>
                          <div id="ember7731" class="ember-view">
                            <div class="row">
                              <div class="col-md-4">
                                <div><label>DOCUMENTATION:</label></div>
                              </div>
                              <div class="col-md-4 word-wrap">
                                --
                              </div>
                              <!---->
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- MESSAGING METADATA  -->
                      <div id="messaging-metadata" class="tab-pane">
                        <div class="panel-body">
                          <div id="ember7732" class="ember-view">
                            <div class="row">
                              <div class="col-md-4">
                                <div><label>ENDPOINT:</label></div>
                              </div>
                              <div class="col-md-4 word-wrap">
                                --
                              </div>
                              <!---->
                            </div>
                          </div>
                          <div id="ember7733" class="ember-view">
                            <div class="row">
                              <div class="col-md-4">
                                <div><label>RELIABLE CACHE:</label></div>
                              </div>
                              <div class="col-md-4 word-wrap">
                                --
                              </div>
                              <!---->
                            </div>
                          </div>
                          <div id="ember7734" class="ember-view">
                            <div class="row">
                              <div class="col-md-4">
                                <div><label>DOCUMENTATION:</label></div>
                              </div>
                              <div class="col-md-4 word-wrap">
                                --
                              </div>
                              <!---->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
