                  <div class="row conformance metadata" id="metadata">
                    <div class="metadata-selector col-md-3">
                      <ul class="nav nav-pills nav-stacked metadata">
                        <li class="active"><a data-toggle="tab" href="#conformance-metadata" aria-expanded="false">Conformance Metadata</a></li>
                        <li><a data-toggle="tab" href="#rest-metadata" aria-expanded="false">REST Metadata</a></li>
                        <li><a data-toggle="tab" href="#document-metadata" aria-expanded="false">Document Metadata</a></li>
                        <li><a data-toggle="tab" href="#messaging-metadata" aria-expanded="false">Messaging Metadata</a></li>
                      </ul>
                    </div>
                    <!-- METADATA EXPAND CONTAINER -->
                    <div class="metadata-expand-container col-md-9 tab-content">
                      <!-- CONFORMANCE METADATA  -->
                      <div id="conformance-metadata" class="tab-pane active">
                        <div class="panel-body">
                          <%= render partial: 'conformance_metadata', locals: {title: "NAME", boolean: false, value: @conformance['name'], isMultiple: false} %>
                          <%= render partial: 'conformance_metadata', locals: {title: "IDENTIFIER", boolean: false, value: @conformance['identifier'], isMultiple: false} %>
                          <%= render partial: 'conformance_metadata', locals: {title: "VERSION", boolean: false, value: @conformance['versionNum'], isMultiple: false} %>
                          <%= render partial: 'conformance_metadata', locals: {title: "PUBLISHER INFORMATION", boolean: false, value: @conformance['publisher'], isMultiple: false} %>
                          <%= render partial: 'conformance_metadata', locals: {title: "DESCRIPTION", boolean: false, value: @conformance['description'], isMultiple: false} %>
                          <%= render partial: 'conformance_metadata', locals: {title: "STATUS", boolean: false, value: @conformance['status'], isMultiple: false} %>
                          <%= render partial: 'conformance_metadata', locals: {title: "EXPERIMENTAL", boolean: true, value: @conformance['date'], isMultiple: false} %>
                          <%= render partial: 'conformance_metadata', locals: {title: "DATE", boolean: false, value: @conformance['date'], isMultiple: false} %>
                          <%= render partial: 'conformance_metadata', locals: {title: "SOFTWARE", boolean: false, value: 'unknown', isMultiple: false} %>
                          <%= render partial: 'conformance_metadata', locals: {title: "IMPLEMENTATION", boolean: false, value: 'unknown', isMultiple: false} %>
                          <%= render partial: 'conformance_metadata', locals: {title: "FHIR VERSION", boolean: false, value: @conformance['fhirVersion'], isMultiple: false} %>
                          <%= render partial: 'conformance_metadata', locals: {title: "ACCEPT UNKNOWN", boolean: true, value: @conformance['acceptUnknown'], isMultiple: false} %>
                          
                          <div class="row">
                            <div class="col-md-4">
                              <div><label>FORMATS SUPPORTED:</label></div>
                            </div>
                            <div class="col-md-8">
                              <div>
                                <% if @conformance['format'] %>
                                  <% @conformance['format'].each do |f| %>
                                    <%= puts f + " " %>
                                  <% end %>
                                <% end %>
                              </div>
                            </div>
                          </div>
                          <% if @conformance.respond_to?(:profile) %>
                            <%= render partial: 'conformance_metadata', locals: {title: "ADDITIONAL PROFILES SUPPORTED", boolean: false, value: @conformance.profile.length, isMultiple: false} %>
                          <% else %>
                            <%= render partial: 'conformance_metadata', locals: {title: "ADDITIONAL PROFILES SUPPORTED", boolean: false, value: @conformance['profile'].length, isMultiple: false} %>
                          <% end %>
                        </div>
                      </div>
                      <!-- REST METADATA  -->
                      <div id="rest-metadata" class="tab-pane">
                        <div class="panel-body">
                          <%= render partial: 'conformance_metadata', locals: {title: "MODE", boolean: false, value: nested_get(@conformance, 'rest', 0, 'mode'), isMultiple: false} %>
                          <%= render partial: 'conformance_metadata', locals: {title: "IDENTIFIER", boolean: false, value: @conformance['identifier'], isMultiple: false} %>
                          <%= render partial: 'conformance_metadata', locals: {title: "DOCUMENTATION", boolean: false, value: nested_get(@conformance, 'rest', 0, 'documentation'), isMultiple: false} %>
                        </div>
                      </div>
                      <!-- DOCUMENT METADATA  -->
                      <div id="document-metadata" class="tab-pane">
                        <div class="panel-body">
                          <%= render partial: 'conformance_metadata', locals: {title: "MODE", boolean: false, value: nested_get(@conformance, 'document', 0, 'mode'), isMultiple: false} %>
                          <%= render partial: 'conformance_metadata', locals: {title: "IDENTIFIER", boolean: false, value: nested_get(@conformance, 'document', 0, 'profile', 'reference'), isMultiple: false} %>
                          <%= render partial: 'conformance_metadata', locals: {title: "IDENTIFIER", boolean: false, value: nested_get(@conformance, 'document', 0, 'profile', 'documentation'), isMultiple: false} %>
                        </div>
                      </div>
                      <!-- MESSAGING METADATA  -->
                      <div id="messaging-metadata" class="tab-pane">
                        <div class="panel-body">
                          <%= render partial: 'conformance_metadata', locals: {title: "ENDPOINT", boolean: false, value: nested_get(@conformance, 'messaging', 0, 'endpoint'), isMultiple: false} %>
                          <%= render partial: 'conformance_metadata', locals: {title: "RELIABLE CACHE", boolean: false, value: nested_get(@conformance, 'messaging', 0, 'reliableCache'), isMultiple: false} %>
                          <%= render partial: 'conformance_metadata', locals: {title: "DOCUMENTATION", boolean: false, value: nested_get(@conformance, 'messaging', 0, 'documentation'), isMultiple: false} %>
                        </div>
                      </div>
                    </div>
                  </div>
